@model IEnumerable<Observasky.Models.Events>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<style>
    button {
        border: none;
        outline: none;
    }

    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }
</style>

<h3 style="color: rgb(251, 133, 0);">Events List</h3>

<hr/>

<p>
    @Html.ActionLink("Add Event", "Create", null, new { @class = "btn GeneralButton" })
</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="d-none d-md-table-cell">
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-none d-md-table-cell">
                    <img src="~/Content/Images/@item.Photo" alt="Event Image" width="200" height="200" />
                </td>
                <td>
                    @String.Format("{0:dd/MM/yyyy}", item.Date)
                </td>
                <td class="-d-flex flex-column ">
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdEvent }, new { @class = "btn rounded my-1", style = "color: ghostwhite; background-color: rgb(2, 48, 71);" })
                    @Html.ActionLink("Details", "Details", new { id = item.IdEvent }, new { @class = "btn rounded my-1", style = "color: ghostwhite; background-color: rgb(33, 158, 188);" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdEvent }, new { @class = "btn rounded my-1", style = "color: ghostwhite; background-color: rgb(255, 183, 3);" })
                </td>
            </tr>
        }

    </table>
</div>
