<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - OservaSky</title>

    <!--
    MY COLOURS:
    - LIGHT-BLUE: 8ecae6 | 142, 202, 230
    - BLUE: 219ebc | 33, 158, 188
    - DARK-BLUE: 023047 | 2, 48, 71
    - YELLOW: ffb703 | 255, 183, 3
    - ORANGE: fb8500 | 251, 133, 0

    -->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" />
    <link href="~/Content/CSS/DropDown.css" rel="stylesheet" />
    <link href="~/Content/CSS/HomeIndex.css" rel="stylesheet" />



</head>
<body class="mb-0 pb-0">

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container ps-3 ms-0 bs-0">
            <div class="logoContainer pe-3 " href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/observasky-high-resolution-logo-transparent.png" alt="Observasky" />
            </div>

            @Html.ActionLink("ObservaSky", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: rgb(142, 202, 230);" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="navText">@Html.ActionLink("Astrogate", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                    @if (User.IsInRole("Astronomer"))
                    {

                        <li class="dropdown">
                            <button class="dropbtn">Manage</button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Index", "Lectures", new { area = "" })">Lectures</a>
                                <a href="@Url.Action("Index", "Events", new { area = "" })">Events</a>
                                <a href="@Url.Action("Index", "Articles", new { area = "" })">Articles</a>
                                <a href="@Url.Action("Members", "Home", new { area = "" })">Members</a>
                                <a href="@Url.Action("Index", "Glossary", new { area = "" })">Glossary</a>

                            </div>
                        </li>



                    }
                    else if (User.IsInRole("Stargazer"))
                    {
                        <li>@Html.ActionLink("Profile", "Profile", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sign Off", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    <li>@Html.ActionLink("Booking", "MyBookings", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Articles", "ArticleList", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Glossary", "GlossaryList", "Home", new { area = "" }, new { @class = "nav-link" })</li>


                    @if (User.IsInRole("Astronomer"))
                    {
                        <li class="dropdown rounded-container">
                            <button class="dropbtn">Profile</button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Profile", "Home", new { area = "" })">Details</a>
                                <a href="@Url.Action("Logout", "Home", new { area = "" })">Sign Off</a>
                            </div>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div id="divFooter" class="mb-0 pb-0 d-flex ">


        <footer id="footer" class="mb-0 pb-0 ">
            <div>
                <div class="d-flex flex-sm-column flex-md-row  flex-sm-column flex-md-row justify-content-around align-content-center justify-content-center">
                    <div>
                        <p>Contact: info@observasky.com</p>
                        @Html.ActionLink("Info", "Info", "Home", new { area = "" }, new { @style = "color: rgb(255, 183, 3); text-decoration: none; cursor: pointer;", @onmouseover = "this.style.color='white'", @onmouseout = "this.style.color='rgb(255, 183, 3)'" })




                    </div>

                    <div id="socialIconsContainer" class="d-flex flex-row">
                        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512">
                            <style type="text/css">
                                svg {
                                    fill: #2d6bd7;
                                }
                            </style>
                            <path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 448 512">
                            <linearGradient id="instagram-gradient" x1="100%" y1="100%">
                                <stop offset="0%" style="stop-color: #feda75; stop-opacity: 1" />
                                <stop offset="20%" style="stop-color: #fa7e1e; stop-opacity: 1" />
                                <stop offset="40%" style="stop-color: #d62976; stop-opacity: 1" />
                                <stop offset="60%" style="stop-color: #962fbf; stop-opacity: 1" />
                                <stop offset="80%" style="stop-color: #4f5bd5; stop-opacity: 1" />
                            </linearGradient>
                            <path fill="url(#instagram-gradient)" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" />
                        </svg>



                        <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 512 512" style="fill: #ffffff;">
                            <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" />
                        </svg>
                    </div>
                </div>
                <div>
                    <p>Copyright &copy; @DateTime.Now.Year ObservaSky</p>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
