@model Observasky.Models.Glossary

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<style>
    button {
        border: none;
        outline: none;
    }

    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }
</style>


<h3 style="color: rgb(251, 133, 0);">Are you sure you want to delete this term?</h3>

<hr />

<div>

    <dl class="dl-horizontal">
        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Name)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Description)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">

    <input type="submit" value="Delete" class="btn GeneralButton" />

    <hr />

    <div class="d-flex justify-content-end">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "text-decoration-none p-1 rounded-pill", style = "color: rgb(2, 48, 71); background-color: rgb(251, 133, 0);" })
    </div>

</div>
    }
</div>
