@model Observasky.Models.Lectures

<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<link href="~/Content/CSS/Button.css" rel="stylesheet" />

<style>
    .lecture-container {
        position: relative;
        background: transparent;
        transition: background 0.8s ease-in-out, opacity 0.3s ease-in-out;
    }

        .lecture-container:hover {
            background: rgb(2, 48, 71);
        }
</style>


<div class="d-flex flex-row">
    <h2 class="align-self-center">Upcoming Lectures</h2>

    <a href="@Url.Action("BookLecture", "Home")" class="nav-link GeneralButton my-2 align-self-center mx-2">Book</a>
</div>



@foreach (var lecture in ViewBag.UpcomingLectures)
{
    <div class="card mt-3 mb-5 " style="background-color: rgb(2, 48, 71);">
        <h2 class="card-header text-center" style="color: rgb(251, 133, 0);">@lecture.Name</h2>

        <div class="card-body" style="background-color: rgba(33, 158, 188, 0.2);">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <div class="px-0 me-3 rounded">
                    <img src="~/Content/Images/@lecture.Photo" alt="Event Image" class="img-fluid rounded" style="object-fit: cover; width: 240px;" />
                </div>
                <div>
                    <h5 class="card-title mt-4" style="color: rgb(255, 183, 3);">@lecture.Speakers</h5>
                    <hr style="color: ghostwhite" / >
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Date & Time: </span>@lecture.DateTime</p>
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Topic: @lecture.Topic</span></p>
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Description: </span>@lecture.Description</p>
                    <p class="card-text text-danger fw-bold">Seats: @lecture.Seats</p>
                </div>
            </div>
        </div>
    </div>
}



<h2>Passed Lectures</h2>

@foreach (var lecture in ViewBag.PastLectures)
{
    <div class="card mt-3 mb-5 " style="background-color: rgb(2, 48, 71);">
        <h2 class="card-header text-center" style="color: rgb(251, 133, 0);">@lecture.Name</h2>

        <div class="card-body" style="background-color: rgba(33, 158, 188, 0.2);">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <div class="px-0 me-3 rounded">
                    <img src="~/Content/Images/@lecture.Photo" alt="Event Image" class="img-fluid rounded" style="object-fit: cover; width: 240px;" />
                </div>
                <div>
                    <h5 class="card-title mt-4" style="color: rgb(255, 183, 3);">@lecture.Speakers</h5>
                    <hr style="color: ghostwhite" />
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Date & Time: </span>@lecture.DateTime</p>
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Topic: @lecture.Topic</span></p>
                    <p class="card-text" style="color: rgb(33, 158, 188);"><span style="color: ghostwhite">Description: </span>@lecture.Description</p>
                    <p class="card-text text-danger fw-bold">Seats: @lecture.Seats</p>
                </div>
            </div>
        </div>
    </div>
}
