<link href="@Url.Content("~/Content/CSS/HomeIndex.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/CSS/solarSystem.css")" rel="stylesheet" type="text/css" />


<main id="HomeIndexMain">

    <div>
          We strive to find our path in life, but we have always been driven to reaching the stars...
    </div>

    <h1>Events</h1>
    <div class="EventsContainer">
        <div class="row">
            <div class="col-4" id="CarouselEvents"></div>
            <div class="col-8" id="SolarSystem">
                <div class="sun"></div>
                <div class="earth">
                    <div class="moon"></div>
                </div>
            </div>
        </div>
    </div>

    <a href="@Url.Action("AllLectures", "Home", new { area = "" })" class="text-decoration-none" style="color: rgb(33, 158, 188);"><h3>All Lectures</h3></a>

    <div id="PartialLectures" class="d-flex flex-row "></div>



</main>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {
            $("#CarouselEvents").load('@Url.Action("CarouselEvents", "Home")');
        });

        $(document).ready(function () {
            $("#PartialLectures").load('@Url.Action("ShowLectures", "Home")');
        });

</script>
}

