@model Observasky.Models.Users


@{
    ViewBag.Title = "Members";
}

<link href="~/Content/CSS/Font.css" rel="stylesheet" />


<style>
    button {
        border: none;
        outline: none;
    }

    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }

    .member {
        background-color: rgba(0, 0, 0, 0.3);
        transition: background 0.7s linear, color 0.7s linear;
        color: rgb(255, 183, 3);
    }

        .member:hover {
            background-color: rgba(142, 202, 230, 0.8);
            color: rgb(2, 48, 71);
        }
</style>

<hr />

<div class="d-flex flex-column flex-md-row align-items-center justify-content-center my-3">
    <h3>Add Astronomer to the team?</h3>
    <button class="addAstronomer GeneralButton mx-2" onclick="location.href = '@Url.Action("AddAstronomer", "Home")'">Add Astronomer</button>
    
</div>

<hr />



<h2>Members</h2>

@using (Html.BeginForm("SearchUsers", "Home", FormMethod.Get))
{
    <input type="text" name="searchQuery" placeholder="Search for users" />
    <button type="submit" class="GeneralButton">Search</button>
}

@if (ViewBag.Astronomers != null)
{
    <div class="d-flex flex-column justify-content-center">
        <h5 class="mt-4 rounded p-2" style="color: ghostwhite; background-color: rgb(2, 48, 71); ">Total Astronomers: <span style="color: greenyellow; ">@ViewBag.Astronomers.Count</span></h5>

        <ul class="list-unstyled">
            @foreach (var astronomer in ViewBag.Astronomers)
            {
                <li class="d-flex justify-content-between align-items-center p-2 rounded my-2 member">
                    @astronomer.Username
                    <button class="banButton GeneralButton" data-id="@astronomer.IdUser" data-role="Astronomer">Ban</button>
                </li>
            }
        </ul>
    </div>
}



@if (ViewBag.Stargazers != null)
{

    <div class="d-flex flex-column justify-content-center">
        <h5 class="mt-4 rounded p-2" style="color: ghostwhite; background-color: rgb(51,87,105); ">Total Stargazers: <span style="color: greenyellow; ">@ViewBag.Stargazers.Count</span></h5>
        <ul class="list-unstyled">
            @foreach (var stargazer in ViewBag.Stargazers)
            {
                <li class="d-flex justify-content-between align-items-center p-2 rounded my-2 member">
                    @stargazer.Username
                    <button class="banButton GeneralButton" data-id="@stargazer.IdUser" data-role="Stargazer">Ban</button>
                </li>
            }
        </ul>
    </div>
}

@if (ViewBag.BannedMembers != null)
{
    <div class="d-flex flex-column justify-content-center">
        <h5 class="mt-4 rounded p-2" style="color: rgb(2, 48, 71); background-color: rgb(255, 183, 3); ">Total Banned Members: <span style="color: orangered; ">@ViewBag.BannedCount</span></h5>
        <ul class="list-unstyled">
            @foreach (var bannedMember in ViewBag.BannedMembers)
            {
                <li class="d-flex justify-content-between align-items-center p-2 rounded my-2 member">
                    <div class="d-flex flex-column border border-2 p-2">
                        @bannedMember.Username

                        <hr />

                        <p style="color: ghostwhite;">Choose the user's role:</p>
                        <select class="roleSelection rounded" data-id="@bannedMember.IdUser">
                            <option value="Astronomer">Astronomer</option>
                            <option value="Stargazer">Stargazer</option>
                        </select>
                    </div>
                    <button class="unbanButton GeneralButton" data-id="@bannedMember.IdUser">Unban</button>
                </li>
            }
        </ul>
    </div>
}


@if (ViewBag.SearchResults != null)
{
    <h3>Search Results</h3>
    <ul>
        @foreach (var searchResult in ViewBag.SearchResults)
        {
            <li>@searchResult.Username</li>
        }
    </ul>
}


<script>
    $(document).ready(function () {
        $(".banButton").click(function () {
            var userId = $(this).data("id");
            var userRole = $(this).data("role");

            $.ajax({
                url: '@Url.Action("BanUser", "Home")',
                type: 'POST',
                data: { userId: userId, userRole: userRole },
                success: function (data) {

                    location.reload();
                }
            });
        });
    });
</script>

<script>
    $(document).ready(function () {
    $(".unbanButton").click(function () {
        var userId = $(this).data("id");
        var selectedRole = $(this).parent().find(".roleSelection").val();

        $.ajax({
            url: '@Url.Action("UnbanUser", "Home")',
            type: 'POST',
            data: { userId: userId, userRole: selectedRole },
            success: function (data) {
                location.reload();
            }
        });
    });
});

</script>