@model List<Observasky.Models.Guests>

@{
    ViewBag.Title = "My Bookings";
}

<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<style>
    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
        border: none;
        outline: none;
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }

        .GeneralButton a {
            color: inherit;
            text-decoration: none;
        }
</style>



<h3 style="color: rgb(251, 133, 0);">My Bookings</h3>

@if (Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>Booking ID</th>
            <th class="d-none d-xl-table-cell">Name</th>
            <th class="d-none d-xl-table-cell">Surname</th>
            <th class="d-none d-md-table-cell">Email</th>
            <th>Lecture Name</th>
            <th>Date</th>
            <th>Number of Seats</th>

            <th>Cancel?</th>
        </tr>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.IdBooking</td>
                <td class="d-none d-xl-table-cell">@booking.Name</td>
                <td class="d-none d-xl-table-cell">@booking.Surname</td>
                <td class="d-none d-md-table-cell">@booking.Email</td>
                <td>@booking.Lectures.Name</td>
                <td>@booking.Lectures.DateTime</td>
                <td>@booking.NumberOfGuests</td> <!-- Display the number of seats booked -->

                <td>
                    @Html.ActionLink("Cancel", "ConfirmCancellation", new { id = booking.IdBooking }, new { @class = "btn rounded my-1", style = "color: ghostwhite; background-color: rgb(255, 183, 3);" })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No bookings found.</p>
}
<div class="d-flex flex-row">

    <h4 class="align-self-center">Make a new booking?</h4>
    <button class="GeneralButton my-2 align-self-center mx-2">@Html.ActionLink("All Lectures", "AllLectures", "Home", new { area = "" }, new { @class = "text-decoration-none" })</button>

</div>
