@model Observasky.Models.Users

@{
    ViewBag.Title = "Profile";
}
<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<style>
    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
        border: none;
        outline: none;
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }

        .GeneralButton a {
            color: inherit;
            text-decoration: none;
        }

    img.rounded {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin-right: 20px;

    }

    .togglePasswordButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
        border: none;
        outline: none;
        border-radius: 5px;

        cursor: pointer;
    }

        .togglePasswordButton:hover {
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }
</style>

<div class="d-flex flex-column justify-content-center alignt-items-center align-items-md-start w-75 mx-auto py-3 p-4" style="background-color: rgba(33, 158, 188, 0.7);">

    <h2>My Profile</h2>

    <div class="d-flex flex-column flex-md-row justify-content-center align-content-center">

        <div class="ms-md-2">
            <img src="~/Content/Images/@Model.Photo" alt="Event Image" class="rounded" />
        </div>

        <div class="d-flex flex-column">
            <div class="d-flex flex-column flex-md-row pt-3">
                <span class="label fw-bold " style="color: rgb(2, 48, 71);">Username: </span>
                @Html.DisplayFor(model => model.Username)
            </div>

            <div class="d-flex flex-column flex-md-row py-3">
                <span class="label fw-bold " style="color: rgb(2, 48, 71);">Email: </span>
                @Html.DisplayFor(model => model.Email)
            </div>



            <div class="d-flex flex-column flex-md-row justify-content-start">


                <button type="button" id="togglePassword" class="togglePasswordButton">
                    <img src="~/Content/Images/Blue_eye_icon.png" style="max-width: 20px; max-height: 20px;" />
                    Password
                </button>

                <span id="passwordField" class="ps-2">*****</span>
            </div>



        </div>
    </div>

    <div class="py-2">
        @Html.ActionLink("Modify", "ModifyProfile", new { id = Model.IdUser }, new { @class = "GeneralButton" }) |
        @Html.ActionLink("Delete", "DeleteProfile", null, new { @class = "GeneralButton" })
    </div>
</div>
<script>
    const passwordField = document.getElementById("passwordField");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", function () {
        if (passwordField.textContent === "*****") {
            passwordField.textContent = "@Model.Password";
        } else {
            passwordField.textContent = "*****";
        }
    });
</script>


