@model Observasky.Models.Lectures

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/CSS/Font.css" rel="stylesheet" />

<style>
    .custom-form {
        width: 100%;
        max-width: none;
    }

    .textarea-resize {
        width: 100%;
        max-width: none;
        height: auto;
        resize: vertical;
        overflow: auto;
        word-wrap: break-word;
    }

    button {
        border: none;
        outline: none;
    }

    .GeneralButton,
    .GeneralButton:hover {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 25px;
        transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    }

    .GeneralButton {
        background-color: rgb(2, 48, 71);
        color: rgb(251, 133, 0);
    }

        .GeneralButton:hover {
            border-radius: 0;
            background-color: rgb(255, 183, 3);
            color: rgb(2, 48, 71);
        }
</style>

<h3 style = "color: rgb(251, 133, 0);">Lecture Details</h3>

<hr/>

<div>

    <dl class="dl-horizontal">
        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Name)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.DateTime)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Description)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Photo)</span>
        </dt>

        <dd>
            <img src="~/Content/Images/@Model.Photo" alt="Event Image" width="200" height="200" />
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Seats)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Speakers)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speakers)
        </dd>

        <dt>
            <span class="fs-5" style="color: rgb(255, 183, 3);">@Html.DisplayNameFor(model => model.Topic)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLecture }, new { @class = "btn GeneralButton" })


    <hr />

    <div class="d-flex justify-content-end">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "text-decoration-none p-1 rounded-pill", style = "color: rgb(2, 48, 71); background-color: rgb(251, 133, 0);" })
    </div>
</p>
